* {
    box-sizing: border-box;
  }
  body{
      height: 100%;
      color: black;
  }
  .row{
      height: 50%;
      background-color: #ddd;
  }
  a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    position: relative;
    font-family: "Lucida Sans", sans-serif;
  }
  
  .header {
    background-color:  #333;
    color: #ddd;
    padding: 15px;
    height: 25%;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .menu li {
    display: inline;
    padding: 8px;
    margin-bottom: 7px;
    margin-left: 8px;
    background-color:#bc701a;
    color: white;
    width: 80px;
  }
  
  .menu li:hover {
    background-color: #9ebc1a;
  }

  .logo{
    float: right;
    height: 80px;
    background: url(images/academy.png) no-repeat center center;
  }
  .menu li .active {
    color: white;
  }
  .right-aside {
    background-color: #333;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .footer {
    background-color: #333;
    color:white;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    height: 25%;
    text-decoration: none;
  }


  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  .main_frame { 
    background-color: #ddd;
    padding: 20px;
    color: black;
  }

  #form{
    text-decoration: none;
    color: black;
  }

  .profesori{
    color: black;
    text-align: left;
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
    font-size: 14px;
    text-decoration-color: black;
    text-decoration: black;
  }

  .frame1{
    color: black;
    text-align: left;
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
    font-size: 17px;
    text-decoration-color: black;
    text-decoration: black;
  }
  .frame1.style {
    color: black;
  }
  .profesori.style{
    color: black;
  }

  div.profesori p{
    color: black;
    text-decoration: black;
  }